.recipe .RSRHS {	
	width: 100%
	text-align: center;
}

.recipe .RSRHS .RSNutritionBox {
	font-family: Helvetica, sans-serif;
	border: 1px solid #ccc;
	text-align: left;
	padding: 2px;
	margin-bottom: 15px;
	color: #000;
	background: #FFF;
}

.recipe .RSRHS .RSNutritionBox .RSNutritionHead {
	font-size: 20px;
	font-weight: bold;
	border-bottom: 4px solid #000;
	text-align: center;
}

.recipe .RSRHS .RSNutritionBox ul li {
	list-style-type: none;
	font-size: 11px;
	border-bottom: 1px solid #000;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 2px;
    margin: 0;

}

.recipe .RSRHS .RSNutritionBox ul {
	border-bottom: 2px solid #000;
	padding-left: 0;
	text-align: left;
}

.recipe .RSRHS .RSNutritionBox ul.serves li {
	border-style: none;
	font-weight: bold;
	border-bottom: 4px solid #000;
}


.recipe .RSRHS .RSNutritionBox ul.SubNutrient {
	padding-left: 20px;
	text-align: left;
	border: none;
}

.nutrientTitle {
	font-weight: bold;
}

.calTitle {
 	float: left;
  	width: 50%;
  	text-align:left;
	font-size: 16pt;
	font-weight: bold;
}

.calValue {
	float: left;
	width: 50%;
 	text-align: right;
	font-size: 22pt;
	font-weight: bold;
}

.recipe .RSNutritionBox .RSNutritionInner {
	border: 3px solid #ccc;
	padding: 8px;
}

.recipe .RSRHS .RSNutritionBox ul.yield {
	border-style: none;
}
.recipe .RSRHS .RSNutritionBox ul {
		margin: 0px !important;
}
.recipe .RSRHS .RSNutritionBox .yield li {
	border-style: none;
}

