<!-- Footer -->
<div class="container">
<footer class="site-footer">
  
<a href="https://twitter.com/stevebargelt"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
<a href="https://github.com/stevebargelt"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
<a href="https://www.linkedin.com/in/stevebargelt"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">LinkedIn</span></a>

</footer>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<!--<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>-->

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<script src="/js/jquery.colorbox-min.js"></script>

<script src="/js/navscroll.js"></script>

<script>
  jQuery('a.img-blog').colorbox({ opacity:0.5 });
</script>

