<!-- Footer -->
<footer class="site-footer">
  <div class="wrapper">
    <!-- Contact Section -->
      <div class="row">
          <div class="col-lg-10">
              <ul class="list-inline banner-social-buttons">
                  <li>
                      <a href="https://twitter.com/stevebargelt" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">twitter</span></a>
                  </li>
                  <li>
                      <a href="https://github.com/stevebargelt" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">github</span></a>
                  </li>
                  <li>
                      <a href="https://www.linkedin.com/in/stevebargelt" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">linkedin</span></a>
                  </li>
                  <li>
                    <a href="mailto:steve@bargelt.com" class="btn btn-default btn-lg"><i class="fa fa-envelope fa-fw"></i> <span class="network-name">email</span></a>
                  </li>

              </ul>
          </div>
    </div>
  </div>

</footer>

<script src="/js/jquery.colorbox-min.js"></script>
<script src="/js/navscroll.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="/js/jquery.colorbox-min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="/js/grayscale.js"></script>
<script>
  jQuery('a.img-blog').colorbox({ opacity:0.5 });
</script>