{% if paginator.total_pages > 1 %}
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ site.text.pagination.newer }}</a>
    {% else %}
      <span>{{ site.text.pagination.newer }}</span>
    {% endif %}

    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ site.text.pagination.older }}</a>
    {% else %}
      <span>{{ site.text.pagination.older }}</span>
    {% endif %}
  </div>
{% endif %}