---
layout: page 
title: My Blog
subtitle: My ramblings and observations. 
---
{% assign posts_count = (paginator.posts | size) %}
<div class="container blog">
    {% for post in paginator.posts %}
            <div class="row">
                <div class="blog-posts">
                        <div class="post">
                            <a href="{{ post.url }}">
                            <h2>{{ post.title }}</h2>
                            </a>
                            <ul class="list-inline">
                                <li>Post By: {{ post.author }}</li>
                                <li>Date: {{ post.date | date:"%B %d, %Y" }}</li>
                                <li>Category: {{ post.category }}</li>
                            </ul>
                            {% if post.thumbimage %}
                                <a href="{{ post.url }}">
                                    {% if post.portfolio %}
                                        <img class="img-responsive" src="{{ post.thumbimage }}" alt="{{ post.title }}-image">
                                    {% else %}
                                        <img src="{{ post.thumbimage }}" alt="{{ post.title}}-image">
                                    {% endif %}
                                </a>
                            {% endif %}
                            <div class="post-excerpt">
                                {{ post.excerpt }}
                            </div>
                            <a href="{{ post.url }}" class="btn btn-primary">Read More</a>
                        </div>
                    <div class="clearfix"></div>
                    <div class="divider"></div>
                </div>
            </div>
    {% endfor %}
    
    {% include pagination.html %}
</div>
    
